@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/theme.css';

@import 'tailwindcss/utilities';

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
    .rtl {
        direction: rtl;
    }
}
.logo {
    display: inline-block;
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }
  
  .spin {
    animation: spin 2s infinite linear;
  }
  
  @keyframes spin {
    0% {
      transform: rotateX(0deg);
    }
    100% {
      transform: rotateX(360deg);
    }
  }
  
  .bizai {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateX(-90deg) translateY(-100%);
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(7, 7, 7);
    transform-origin: center center;
    transition: transform 0.5s;
  }
  
  @keyframes slideIn {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  
  .slide-in {
    animation: slideIn 1s ease-in-out forwards;
  }